body {
  user-select: none;
}

.allFilters {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
}

#search-input {
  border: 0;
}

#list {
  margin-top: 40px;
}

.list-expand {
  margin-top: 180px !important;
}

/* Container needed to position the button. Adjust the width as needed */
.img-container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.img-container img {
  width: 100%;
  height: auto;
  border: 13px solid #E4D00A;
  border-radius: 5px;
}

/* Style the button and place it in the middle of the container/image */
.img-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container .btn:hover {
  background-color: black;
}

.btn-playPronunciation {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}

.btn-playPronunciation:hover {
  border-color: green;
}

.filter span {
  color: #ffffff;
  font-size: 18pt;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 8px;
  cursor: pointer;
}

.filter-selected {
  color: #E4D00A !important;
}

iframe {
  width: 100%;
  height: 100%;
}

.bg-color-1 {
  background-color: #AF5E26;
}

.bg-color-2 {
  background-color: #FCDE42;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  color: #000;
  margin: 0 auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.modal-header, .modal-body, .modal-footer {
  border: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0;
}

.close {
  color: #FFF;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FCDE42;
  text-decoration: none;
  cursor: pointer;
}

#videoMode {
  width: 100%;
  height: 400px;
  background-color: #000;
}

.allFilters-video-mode {
  height: 50%;
}

.list-video-mode {
  margin-top: 450px !important;
}

.filter-disabled {
  color: #FFA07A !important;
  pointer-events: none;
}

.recordName-video-mode {
  cursor: pointer;
}

@media (max-width: 767px) {
    .filter {
      text-align: right;
    }
}