.pageHeader {
  background-image: url("../images/header.png");
  background-color: #FFFFFF;
  background-size: 600px 180px;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container .btn:hover {
  background-color: black;
}

.bg-color-1 {
  background-color: #AF5E26;
}

.bg-color-2 {
  background-color: #FCDE42;
}

iframe {
  width: 100%;
  height: 100%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  color: #000;
  margin: 0 auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.modal-header, .modal-body, .modal-footer {
  border: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0;
}

.close {
  color: #FFF;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FCDE42;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
    .recordName {
        text-align: center;
    } 
}