body {
	background: #fff;
	color: #000;
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.profile-pic {
	margin-top: 40px;
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.fullname {
	font-size: 32px;
}

.position {
	font-size: 16px;
}

.btn-save-contact {
	width: 320px;
	height: 60px;
	border-radius: 50px;
	background: #f06d3d;
	color: #fff;
	font-size: 24px;
	margin: 48px 0 48px 0;
	border: 0;
}

.contact {
	margin-bottom: 22px;
}

.contact-info {
	width: 250px;
	font-size: 16px;
	margin-bottom: 19px;
}

.contact-info a {
	color: #000;
}

.social {
	margin-top: 50px;
	font-size: 20px;
}

.social-icons {
	margin-left: 10px;
	margin-right: 10px;
	color: #000;
}

.slogan {
	margin-top: 17px;
	margin-bottom: 20px;
	font-size: 16px;
}